<!DOCTYPE html>
<html>
<body>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   



    <title>Audio Page </title>

   <link href="static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/full-slider.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery.js"></script>
    <script src="static/bootstrap.bundle.js"></script>
    <!-- Bootstrap core CSS -->
    
    <link href="static/freelancer.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


  </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home_page') }}">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('gallery_page') }}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('video_page') }}">Videos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('audio_page') }}">Audio</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_page') }}">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<br>
<br>
<br>
<br>
<br>
<br>
<audio controls autoplay loop controlsList="nodownload">
  <source src="static/song.mp3" type="audio/ogg">
  
</audio>
<!--
<embed name="GoodEnough" src="static/song.mp3" loop="infitity" hidden="false" autostart="true">
-->

 <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/jqBootstrapValidation.js"></script>
    <script src="static/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/freelancer.min.js"></script>


  <script src="static/bootstrap.min.css"></script>

</body>
</html>
