<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    


    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/full-slider.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery.js"></script>
    <script src="static/bootstrap.bundle.js"></script>
    <!-- Bootstrap core CSS -->
    
    <link href="static/freelancer.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home_page') }}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('gallery_page') }}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('video_page') }}">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('audio_page') }}">Audio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_page') }}">Contact Us</a>
            </li>
            <li>
               <audio controls autoplay loop controlsList="nodownload noremoteplayback">
               <source src="static/song.mp3" type="audio/ogg">
            </li>
          </ul>
        </div>
      </div>
    </nav>
    


    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item" style="background-image: url('https://docs.google.com/uc?id=121QqhyTZVrSbWwLxHmBsgga-N1uGU3Hy')">
      <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the third slide.</p>
              
               
              </video>
    </div>
    </div>
    <div class="carousel-item active" style="background-image: url('https://docs.google.com/uc?id=0Byt8kaga872McmxLVzJUWXJqdjQ' )">
       <div class="carousel-caption d-none d-md-block">
              <h3>Secound Slide</h3>
              <p>This is a description for the third slide.</p>
              
               
              </video>
    </div>
    </div>
    <div class="carousel-item" style="background-image: url('https://docs.google.com/uc?id=0Byt8kaga872MQnpJaWVacjBRUzA' )">
       <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
              
               
              </video>
    </div>
  </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    </header>

   
     <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/jqBootstrapValidation.js"></script>
    <script src="static/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/freelancer.min.js"></script>


  <script src="static/bootstrap.min.css"></script>

    

  </body>

</html>
