<!DOCTYPE html>
<html>
<head>
	<title>build</title>
    
   
    <meta name=“viewport” content=“width= device-width, initial scale=1.0”> 
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS --> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <!-- jQuery library --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <!-- Latest compiled JavaScript --> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

     <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/css/half-slider.css" rel="stylesheet">

<body>
	

    <video width="320" height="240" controls>
                <source src="static/video.webm" type="video/mp4">
</body>